*{
    font-family: 'Cabin';
    padding: 0;
    margin: 0;
}

.head{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.subhead{
    align-content: center;
}

#search{
    display: flex;
    justify-content: center;
    align-items: center;
}

#locationlogo{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}
#address{
    color: white;
}
#all{
    height: 40px;
    width: 40px;
    font-size: 18px;
    border: none;
}
#searchlogo{
    background-color: gold;
    width: 40px;
    height: 35px;
    border: none;
}

#searchbar{
    width: 1100px;
    height: 40px;
    border: none;
}

#flag{
    width: 40px;
    height: 30px;
}

.navigationbar{
    border: 1px solid black;
    width: 100%;
    height: 45px;
    background-color: 	#232f3e;
    display: flex;
}

.list{
    border: 1px solid black;
    width: 100%;
    height: 45px;
    background-color: 	#232f3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    border: none;
    font-size: 18px;
}

.icon{
    display: flex;
    align-items: center;
    margin-left: 2%;
    border: none;
    width: 600px;
    color: aliceblue;
}

#date{
    display: flex;
}
#dayndate{
    display: flex;
}

#dates{
    width: fit-content;
}

a{
    text-decoration: none;
    color: white;
}
.main{
    margin-top: -150px;
    width: 100%;
    height: 850px;
    background-image: url("./assets/background\ picture.png");
    background-size: cover;
}

.arrows{
    width: 95%;
    height: 380px;
    margin-top: 150px;
}

#arr{
    display: flex;
    margin-left: 25px;
}
#left,#right{
    margin-top: 150px;
}

#right{
    display: flex;
    margin-left: 100%;
}

.firstbox,.secondbox,.thirdbox{
    width: 370px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    gap: 25px;
}
.fourthbox{
    width: 370px;
    height: 175px;
    background-color: white;
    border-radius: 5px;
    gap: 25px;
}

#firstbox,#secondbox,#thirdbox{
    text-align: center;
    margin-top: 10%;
}

#lastimage{
margin-top: 25%;
width: 370px;
height: 175px;
}

.secondmain{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}

#btn{
    width: 250px;
    margin-left: 15%;
    background-color: gold;
    border-radius: 5px;
    height: 30px;
    border: none;
    margin-top: 20px;
}

.navigationbar li:hover{
    background-color: #555;
}

.toggle-btn{
    position: absolute;
    top: 5rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

@media (max-width:1500px){
    .toggle-btn{
        display:flex;
    }

    #list{
        display: none;
    }
}

@media(max-width:700px){
    #searchbar input{
        width: 150px;
        height: 25px;
    }

    #locationlogo{
        width: 20px;
        height: 25px;

    }

    #flag{
        width: 30px;
        height: 25px;
        margin-top: 5px;
        margin-left: 0;
    }

    #searchlogo{
        width: 20px;
    }
    
    #cart{
        width: 5px;
    }

    .secondmain{
        display: inline;
        width: 100%;
    }


    .main{
        width: 100%;
        height: 100%;
        background-image: url(/assets/background\ picture2.png);
        
    }

}